<label for="province" class="form-label">Province*:</label>
<select name="province" class="form-control form-select">
  <option value="Ontario">Ontario</option>
  <option value="Alberta">Alberta</option>
  <option value="Quebec">Quebec</option>
  <option value="Manitoba">Manitoba</option>
  <option value="New Brunswick">New Brunswick</option>
  <option value="Newfoundland and Labrabor">Newfoundland and Labrabor</option>
  <option value="Northwest Territories">Northwest Territories</option>
  <option value="Nova Scotia">Nova Scotia</option>
  <option value="Nunavut">Nunavut</option>
  <option value="Prince Edward Island">Prince Edward Island</option>
  <option value="Saskatchewan">Saskatchewan</option>
  <option value="Yukon">Yukon</option>
</select>
