<head>
  <%- include('../shared/head.ejs') %>
</head>
<body>
  <div class="container-sm">
    <h1>Welcome to My Shop</h1>

    <a href="/order">Click Here to Order</a>
    <%- include('../shared/footer.ejs') %>
  </div>
  <%- include('../shared/footer-scripts.ejs') %>
</body>
